In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [ ]:
df = pd.read_csv('/content/sample_data/cars.csv')

In [ ]:
df.head(50)

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
5,23.0,8,350,125,3900,17,1980,US.
6,13.0,8,351,158,4363,13,1974,US.
7,14.0,8,440,215,4312,9,1971,US.
8,25.4,5,183,77,3530,20,1980,Europe.
9,37.7,4,89,62,2050,17,1982,Japan.
10,34.0,4,108,70,2245,17,1983,Japan.
11,34.3,4,97,78,2188,16,1981,Europe.
12,16.0,8,302,140,4141,14,1975,US.
13,11.0,8,350,180,3664,11,1974,US.
14,19.1,6,225,90,,19,1981,US.
15,16.9,8,350,155,4360,15,1980,US.
16,31.8,4,85,65,2020,19,1980,Japan.
17,16.0,8,304,150,3433,12,1971,US.
18,24.0,4,113,95,2278,16,1973,Japan.
19,24.0,4,107,90,2430,15,1971,Europe.
20,37.2,4,86,65,2019,16,1981,Japan.
21,21.5,4,121,110,2600,13,1978,Europe.
22,24.0,6,200,81,3012,18,1977,US.
23,15.5,8,351,142,4054,14,1980,US.
24,38.1,4,89,60,1968,19,1981,Japan.
25,33.0,4,91,53,1795,17,1977,Japan.
26,31.0,4,71,65,1773,19,1972,Japan.
27,14.0,8,351,148,4657,14,1976,US.
28,18.0,6,250,78,3574,21,1977,US.
29,29.9,4,98,65,2380,21,1982,US.
30,27.0,4,97,88,2130,15,1971,Japan.
31,16.0,6,250,100,3278,18,1974,US.
32,23.0,4,120,97,2506,15,1973,Japan.
33,21.0,6,199,90,,15,1971,US.
34,30.0,4,97,67,1985,16,1978,Japan.
35,22.4,6,231,110,3415,16,1982,US.
36,26.0,4,97,46,1835,21,1971,Europe.
37,21.5,3,80,110,2720,14,1978,Japan.
38,16.5,8,351,138,3955,13,1980,US.
39,20.2,6,232,90,3265,18,1980,US.
40,16.0,6,278,105,3897,19,1976,US.
41,14.0,8,302,140,4638,16,1975,US.
42,18.5,6,250,110,3645,16,1977,US.
43,17.5,6,250,110,3520,16,1978,US.
44,14.0,8,455,225,3086,10,1971,US.
45,31.6,4,120,74,2635,18,1982,Japan.
46,13.0,8,318,150,3755,14,1977,US.
47,22.0,4,122,86,2395,16,1973,US.
48,29.0,4,97,78,1940,15,1978,Europe.
49,20.2,6,200,88,3060,17,1982,US.

In [ ]:
df.iloc[40,2] = '278'

In [ ]:
df.iloc[180,2] = '450'

In [ ]:
df.iloc[172,4] = '3890'

In [ ]:
df.fillna(0)

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [ ]:
df.nunique()

mpg             103
 cylinders        5
 cubicinches     75
 hp              85
 weightlbs      240
 time-to-60      17
 year            13
 brand            3
dtype: int64

In [ ]:
df[' cubicinches'] = pd.to_numeric(df[' cubicinches'])

In [ ]:
df[' weightlbs'] = pd.to_numeric(df[' weightlbs'])

In [ ]:
df[' cubicinches']

0      350
1       89
2      302
3      400
4       98
      ...
256    305
257     91
258    232
259    232
260    250
Name:  cubicinches, Length: 261, dtype: int64

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
print(X)

      mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year
0    14.0           8          350  165       4209           12   1972
1    31.9           4           89   71       1925           14   1980
2    17.0           8          302  140       3449           11   1971
3    15.0           8          400  150       3761           10   1971
4    30.5           4           98   63       2051           17   1978
..    ...         ...          ...  ...        ...          ...    ...
256  17.0           8          305  130       3840           15   1980
257  36.1           4           91   60       1800           16   1979
258  22.0           6          232  112       2835           15   1983
259  18.0           6          232  100       3288           16   1972
260  22.0           6          250  105       3353           15   1977

[261 rows x 7 columns]

In [ ]:
X.iloc[:,2] = X.iloc[:,2].astype(int)

ValueError: ignored

In [ ]:
c = pd.to_numeric(X[' cubicinches'']])

ValueError: ignored

In [ ]:
print(X)

      mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year
0    14.0           8          350  165       4209           12   1972
1    31.9           4           89   71       1925           14   1980
2    17.0           8          302  140       3449           11   1971
3    15.0           8          400  150       3761           10   1971
4    30.5           4           98   63       2051           17   1978
..    ...         ...          ...  ...        ...          ...    ...
256  17.0           8          305  130       3840           15   1980
257  36.1           4           91   60       1800           16   1979
258  22.0           6          232  112       2835           15   1983
259  18.0           6          232  100       3288           16   1972
260  22.0           6          250  105       3353           15   1977

[261 rows x 7 columns]

In [ ]:
print(y)

0           US.
1       Europe.
2           US.
3           US.
4           US.
         ...
256         US.
257      Japan.
258         US.
259         US.
260         US.
Name:  brand, Length: 261, dtype: object

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [ ]:
scaler = StandardScaler()

In [ ]:

X_train.iloc[:,2]

array(['121', '98', '97', '156', '307', '86', '88', '350', '113', '351',
       '318', '302', '120', '199', '171', '130', '305', '250', '85',
       '400', '262', '360', '151', '108', '91', '340', '71', '83', '163',
       '140', ' ', '89', '232', '112', '107', '168', '141', '110', '225',
       '76', '440', '390', '135', '231', '200', '72', '81', '146', '116',
       '79', '454', '90', '119', '429', '105', '101', '455', '304', '114',
       '198', '134', '260', '144', '173', '96', '122', '383', '68'],
      dtype=object)

In [ ]:
X_train.iloc[:,4].unique()

array(['2950', '2219', '2130', '2620', '3504', '2110', '2065', '4100',
       '2278', '4129', '4360', '4080', '4042', '2957', '3940', '2671',
       ' ', '2807', '2984', '3150', '3840', '4295', '3139', '2020',
       '4906', '3015', '4654', '2135', '3302', '2051', '2670', '2379',
       '1965', '3609', '1950', '1773', '2003', '3410', '2592', '3897',
       '3664', '2542', '3761', '2933', '1968', '4498', '2945', '2930',
       '2575', '4190', '2430', '4077', '2979', '4380', '2900', '4325',
       '3190', '3449', '3570', '2265', '1955', '2774', '2245', '4215',
       '2395', '2672', '4638', '4657', '4464', '4096', '2019', '3353',
       '3755', '4385', '2745', '2910', '3003', '3021', '2300', '2634',
       '2290', '3520', '2401', '3205', '1649', '4335', '4735', '3830',
       '3850', '3329', '2464', '2525', '1795', '4209', '2255', '3907',
       '3880', '3060', '1940', '1613', '2835', '2171', '4054', '3121',
       '1760', '4997', '2678', '2815', '3288', '4363', '1825', '2220',
       '1963', '4354', '2490', '4457', '2795', '1937', '3820', '1875',
       '2188', '4341', '2126', '3415', '2075', '2125', '3525', '1925',
       '2202', '2587', '3459', '3645', '2635', '4951', '4615', '3433',
       '3955', '3672', '2158', '2254', '1945', '2582', '1985', '3574',
       '3436', '3630', '2904', '2560', '3420', '3278', '3233', '2230',
       '3070', '2625', '2120', '2506', '2585', '2665', '2595', '2735',
       '2380', '3735', '3781', '3425', '1800', '2189', '2350', '4098',
       '3785', '3693', '3988', '2288', '2515', '3365', '4952', '3399',
       '2226', '2155', '3265', '3563', '4082', '2700', '1975', '3102',
       '3465', '1835', '4220', '2600', '3445', '2050', '2200', '2144',
       '2660', '4422', '3039'], dtype=object)

In [ ]:
X_train.iloc[:,5].unique()

array([20, 17, 25, 14, 12, 18, 15, 13, 16, 19,  8, 21, 11, 10,  9, 24, 22])

In [ ]:
pd.to_numeric

In [ ]:
X_train = scaler.fit_transform(X_train)

In [ ]:
X_train

array([[ 1.74075491, -0.3606801 , -0.75350118, ..., -0.0786367 ,
         1.58868083,  1.17883861],
       [ 0.77778411, -0.94224181, -0.96810793, ..., -0.93072861,
         0.53181853, -0.47047819],
       [ 2.72975195, -0.94224181, -0.97743866, ..., -1.03447167,
         3.350118  ,  1.72861088],
       ...,
       [-0.26326541,  0.22088161,  0.27287895, ...,  0.02510636,
        -0.17275634, -0.19559206],
       [-0.13313422, -0.94224181, -0.74417045, ..., -0.72557379,
         0.1795311 , -1.02025046],
       [ 0.77778411, -0.94224181, -1.24802979, ...,  1.01707655,
         1.58868083, -0.74536432]])

In [ ]:
print(X_test)

      mpg   cylinders   cubicinches   hp   weightlbs   time-to-60   year
166  16.0           6           225  105        3439           16   1972
106  43.4           4            90   48        2335           24   1981
239  23.0           4           122   86        2220           14   1972
76   22.5           6           232   90        3085           18   1977
220  17.5           6           258   95        3193           18   1977
171  20.3           5           131  103        2830           16   1979
8    25.4           5           183   77        3530           20   1980
71   27.0           4           112   88        2640           19   1983
37   21.5           3            80  110        2720           14   1978
153  15.0           6           250   72        3158           20   1976
179  31.5           4            98   68        2045           19   1978
55   16.0           8           400  230        4278           10   1974
213  30.0           4            79   70        2074           20   1972
110  20.0           4            97   88        2279           19   1974
152  14.0           8           455  225        4425           10   1971
45   31.6           4           120   74        2635           18   1982
237  20.2           6           200   85        2965           16   1979
255  24.0           4           113   95        2372           15   1971
137  13.0           8           302  129        3169           12   1976
144  19.2           8           267  125        3605           15   1980
212  39.1           4            79   58        1755           17   1982
7    14.0           8           440  215        4312            9   1971
59   13.0           8           360  175        3821           11   1974
254  23.5           6           173  110        2725           13   1982
200  26.0           4           116   75        2246           14   1975
156  18.0           3            70   90        2124           14   1974
83   23.0           4           115   95        2694           15   1976
229  27.0           4           140   86        2790           16   1983
73   24.0           4           119   97        2545           17   1976
240  13.0           8           350  145        4055           12   1977
89   31.0           4           119   82        2720           19   1983
90   34.1           4            86   65        1975           15   1980
122  16.0           8           400  170        4668           12   1976
96   12.0           8           350  180        4499           13   1974
201  23.0           4           140   83        2639           17   1976
116  24.5           4           151   88        2740           16   1978
125  26.5           4           140   72        2565           14   1977
182  17.5           8           305  140        4215           13   1977
215  32.9           4           119  100        2615           15   1982
134  15.0           8           350  145        4440           14   1976
5    23.0           8           350  125        3900           17   1980
22   24.0           6           200   81        3012           18   1977
181  33.8           4            97   67        2145           18   1981
118  34.4           4            98   65        2045           16   1982
12   16.0           8           302  140        4141           14   1975
180  19.8           6           450   85        2990           18   1980
146  20.6           6           225  110        3360           17   1980
247  44.3           4            90   48        2085           22   1981
206  40.8           4            85   65        2110           19   1981
129  36.1           4            98   66        1800           14   1979
64   14.0           8           318  150        4237           15   1974
44   14.0           8           455  225        3086           10   1971
124  27.0           4            97   60        1834           19   1972

In [ ]:
X_test = scaler.fit_transform(X_test)

In [ ]:
Y_train

252     Europe.
74      Europe.
235     Europe.
190         US.
109         US.
         ...
251     Europe.
192         US.
117         US.
47          US.
172     Europe.
Name:  brand, Length: 208, dtype: object

In [ ]:
Y_test

166         US.
106     Europe.
239         US.
76          US.
220         US.
171     Europe.
8       Europe.
71          US.
37       Japan.
153         US.
179      Japan.
55          US.
213     Europe.
110      Japan.
152         US.
45       Japan.
237         US.
255      Japan.
137         US.
144         US.
212      Japan.
7           US.
59          US.
254         US.
200     Europe.
156      Japan.
83      Europe.
229         US.
73       Japan.
240         US.
89          US.
90       Japan.
122         US.
96          US.
201         US.
116         US.
125         US.
182         US.
215      Japan.
134         US.
5           US.
22          US.
181      Japan.
118         US.
12          US.
180         US.
146         US.
247     Europe.
206      Japan.
129         US.
64          US.
44          US.
124     Europe.
Name:  brand, dtype: object

In [ ]:
model = DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=8,)

In [ ]:
X_test

array([[-0.92283668,  0.29923002,  0.17731662, -0.02308014,  0.56136846,
         0.0720568 , -1.46890642],
       [ 2.39435001, -0.83356933, -0.95142043, -1.26817101, -0.78580533,
         2.61806385,  1.05148337],
       [-0.07538022, -0.83356933, -0.68386794, -0.43811043, -0.92613593,
        -0.56444496, -1.46890642],
       [-0.13591283,  0.29923002,  0.23584373, -0.35073563,  0.12939426,
         0.70855856, -0.06868987],
       [-0.74123886,  0.29923002,  0.45323013, -0.24151713,  0.261183  ,
         0.70855856, -0.06868987],
       [-0.40225628, -0.26716966, -0.60861881, -0.06676753, -0.1817736 ,
         0.0720568 ,  0.49139675],
       [ 0.21517627, -0.26716966, -0.17384601, -0.63470373,  0.67241268,
         1.34506033,  0.77144006],
       [ 0.40888061, -0.83356933, -0.7674781 , -0.39442303, -0.41362417,
         1.02680944,  1.61157   ],
       [-0.25697803, -1.399969  , -1.03503058,  0.08613836, -0.31600288,
        -0.56444496,  0.21135344],
       [-1.04390188,  0.29923002,  0.38634201, -0.74392222,  0.21847368,
         1.34506033, -0.34873318],
       [ 0.95367404, -0.83356933, -0.88453231, -0.83129702, -1.1396825 ,
         1.02680944,  0.21135344],
       [-0.92283668,  1.43202936,  1.64049429,  2.70738232,  1.58517173,
        -1.83744848, -0.9088198 ],
       [ 0.77207623, -0.83356933, -1.0433916 , -0.78760962, -1.10429479,
         1.34506033, -1.46890642],
       [-0.43857585, -0.83356933, -0.89289332, -0.39442303, -0.85414023,
         1.02680944, -0.9088198 ],
       [-1.16496709,  1.43202936,  2.10035013,  2.59816382,  1.76455085,
        -1.83744848, -1.74894973],
       [ 0.96578056, -0.83356933, -0.70058997, -0.70023482, -0.4197255 ,
         0.70855856,  1.33152669],
       [-0.4143628 ,  0.29923002, -0.03170876, -0.45995413, -0.01703768,
         0.0720568 ,  0.49139675],
       [ 0.04568498, -0.83356933, -0.75911708, -0.24151713, -0.74065548,
        -0.24619408, -1.74894973],
       [-1.2860323 ,  1.43202936,  0.8211148 ,  0.50116866,  0.23189661,
        -1.20094672, -0.34873318],
       [-0.53542801,  1.43202936,  0.52847926,  0.41379386,  0.76393264,
        -0.24619408,  0.77144006],
       [ 1.87376962, -0.83356933, -1.0433916 , -1.04973402, -1.49355968,
         0.39030768,  1.33152669],
       [-1.16496709,  1.43202936,  1.9749349 ,  2.37972682,  1.62666078,
        -2.15569936, -1.74894973],
       [-1.2860323 ,  1.43202936,  1.30605368,  1.50597884,  1.02751012,
        -1.5191976 , -0.9088198 ],
       [-0.01484762,  0.29923002, -0.25745617,  0.08613836, -0.30990155,
        -0.88269584,  1.33152669],
       [ 0.2878154 , -0.83356933, -0.73403403, -0.67839112, -0.89440902,
        -0.56444496, -0.62877649],
       [-0.68070626, -1.399969  , -1.11864073, -0.35073563, -1.04328148,
        -0.56444496, -0.9088198 ],
       [-0.07538022, -0.83356933, -0.74239505, -0.24151713, -0.3477298 ,
        -0.24619408, -0.34873318],
       [ 0.40888061, -0.83356933, -0.53336967, -0.43811043, -0.23058425,
         0.0720568 ,  1.61157   ],
       [ 0.04568498, -0.83356933, -0.70895099, -0.19782973, -0.52954945,
         0.39030768, -0.34873318],
       [-1.2860323 ,  1.43202936,  1.22244353,  0.85066785,  1.31305239,
        -1.20094672, -0.06868987],
       [ 0.89314144, -0.83356933, -0.70895099, -0.52548523, -0.31600288,
         1.02680944,  1.61157   ],
       [ 1.26844358, -0.83356933, -0.98486449, -0.89682812, -1.22510113,
        -0.24619408,  0.77144006],
       [-0.92283668,  1.43202936,  1.64049429,  1.39676034,  2.06107552,
        -1.20094672, -0.34873318],
       [-1.4070975 ,  1.43202936,  1.22244353,  1.61519734,  1.85485054,
        -0.88269584, -0.9088198 ],
       [-0.07538022, -0.83356933, -0.53336967, -0.50364153, -0.41484443,
         0.39030768, -0.34873318],
       [ 0.10621759, -0.83356933, -0.4413985 , -0.39442303, -0.29159755,
         0.0720568 ,  0.21135344],
       [ 0.348348  , -0.83356933, -0.53336967, -0.74392222, -0.50514412,
        -0.56444496, -0.06868987],
       [-0.74123886,  1.43202936,  0.84619784,  0.74144935,  1.50829497,
        -0.88269584, -0.06868987],
       [ 1.12316533, -0.83356933, -0.70895099, -0.13229863, -0.44413082,
        -0.24619408,  1.33152669],
       [-1.04390188,  1.43202936,  1.22244353,  0.85066785,  1.78285484,
        -0.56444496, -0.34873318],
       [-0.07538022,  1.43202936,  1.22244353,  0.41379386,  1.12391114,
         0.39030768,  0.77144006],
       [ 0.04568498,  0.29923002, -0.03170876, -0.54732893,  0.04031483,
         0.70855856, -0.06868987],
       [ 1.23212402, -0.83356933, -0.89289332, -0.85314072, -1.01765589,
         0.70855856,  1.05148337],
       [ 1.30476314, -0.83356933, -0.88453231, -0.89682812, -1.1396825 ,
         0.0720568 ,  1.33152669],
       [-0.92283668,  1.43202936,  0.8211148 ,  0.74144935,  1.41799527,
        -0.56444496, -0.62877649],
       [-0.46278889,  0.29923002,  2.05854505, -0.45995413,  0.01346898,
         0.70855856,  0.77144006],
       [-0.36593672,  0.29923002,  0.17731662,  0.08613836,  0.46496744,
         0.39030768,  0.77144006],
       [ 2.50330869, -0.83356933, -0.95142043, -1.26817101, -1.09087186,
         1.98156209,  1.05148337],
       [ 2.07958047, -0.83356933, -0.99322551, -0.89682812, -1.06036521,
         1.02680944,  1.05148337],
       [ 1.51057399, -0.83356933, -0.88453231, -0.87498442, -1.4386477 ,
        -0.56444496,  0.49139675],
       [-1.16496709,  1.43202936,  0.95489104,  0.95988635,  1.53514082,
        -0.24619408, -0.9088198 ],
       [-1.16496709,  1.43202936,  2.10035013,  2.59816382,  0.13061452,
        -1.83744848, -1.74894973],
       [ 0.40888061, -0.83356933, -0.89289332, -1.00604662, -1.39715865,
         1.02680944, -1.46890642]])

In [ ]:
model.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=8)

In [ ]:
 Y_pred = model.predict(X_test)

In [ ]:
print(Y_pred)

[' US.' ' Europe.' ' US.' ' US.' ' US.' ' Japan.' ' US.' ' US.' ' Europe.'
 ' US.' ' US.' ' US.' ' Europe.' ' Japan.' ' US.' ' US.' ' US.' ' Japan.'
 ' US.' ' US.' ' Japan.' ' US.' ' US.' ' US.' ' US.' ' Europe.' ' Japan.'
 ' US.' ' US.' ' US.' ' US.' ' Europe.' ' US.' ' US.' ' US.' ' US.' ' US.'
 ' US.' ' Japan.' ' US.' ' US.' ' US.' ' Japan.' ' US.' ' US.' ' US.'
 ' US.' ' Europe.' ' Japan.' ' US.' ' US.' ' US.' ' Europe.']

In [ ]:
metrics.accuracy_score(Y_pred,Y_test)

0.8113207547169812